.button {
  padding: 10px;
  border: 1px solid #f0f0f0;
  background-color: white;
  -webkit-box-shadow: 0 0.9px 3.9px rgba(0, 0, 0, 0.09), 0 1.9px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.9px 3.9px rgba(0, 0, 0, 0.09), 0 1.9px 10px rgba(0, 0, 0, 0.12);
  color: black;
  font-weight: 400;
}

.button:hover {
  -webkit-box-shadow: 0 0.9px 3.9px rgba(0, 0, 0, 0.14), 0 1.9px 10px rgba(0, 0, 0, 0.19);
          box-shadow: 0 0.9px 3.9px rgba(0, 0, 0, 0.14), 0 1.9px 10px rgba(0, 0, 0, 0.19);
  background-color: #61A9BF;
}

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border: 2px solid #f0f0f0;
  -webkit-box-shadow: 0 0.9px 3.9px rgba(0, 0, 0, 0.09), 0 1.9px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.9px 3.9px rgba(0, 0, 0, 0.09), 0 1.9px 10px rgba(0, 0, 0, 0.12);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.project-card:hover {
  -webkit-transform: scale(1.11);
          transform: scale(1.11);
  border: 2px solid black;
}

.project-card .project-title {
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.project-card .project-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.project-card .project-description {
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}

@media (min-width: 691px) and (max-width: 1024px) {
  .project-card {
    width: 400px;
    height: 350px;
  }
  .project-card .project-title {
    font-size: 1.3em;
  }
}

.project-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.project-modal .modal-content {
  background-color: white;
  margin: auto;
  padding: 10px;
  width: 70%;
  border: 2px solid black;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-modal .modal-content .project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 50px 0;
}

.project-modal .modal-content .project-details .content {
  width: 50%;
}

.project-modal .modal-content .project-details .parts-of-project {
  margin: 0;
}

.project-modal .modal-content .project-details .tech-stack {
  font-size: 0.8em;
  font-weight: 400;
  margin: 10px 0;
}

.project-modal .close {
  color: black;
  font-size: 1.5em;
  padding: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.project-modal .close:hover,
.project-modal .close:focus {
  color: #61A9BF;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 690px) {
  .project-modal .modal-content {
    width: 85%;
  }
  .project-modal .modal-content .project-details {
    margin: 0 0 5px 0;
  }
  .project-modal .modal-content .project-details .content {
    width: 90%;
  }
  .project-modal .modal-content .project-details .parts-of-project {
    margin: 0;
  }
  .project-modal .modal-content .project-details .tech-stack {
    font-size: 1em;
    text-align: center;
  }
  .project-modal .close {
    font-size: 1.8em;
  }
}

@media (min-width: 691px) and (max-width: 1024px) {
  .project-modal .modal-content {
    width: 80%;
  }
  .project-modal .modal-content .project-details {
    margin: 0 0 5px 0;
  }
  .project-modal .modal-content .project-details .content {
    width: 90%;
    font-size: 1.3em;
  }
  .project-modal .modal-content .project-details .parts-of-project {
    font-size: 1.3em;
    margin: 0;
  }
  .project-modal .modal-content .project-details .tech-stack {
    font-size: 1em;
    text-align: center;
  }
  .project-modal .close {
    font-size: 1.8em;
  }
}

nav .navbar-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-item {
  list-style-type: none;
}

nav .nav-item-link {
  padding: 10px;
  color: black;
  font-size: 1em;
  font-weight: 700;
  border-radius: 10px;
}

nav .nav-item-link:hover {
  background-color: #d2f3fa;
}

@media screen and (max-width: 690px) {
  nav .navbar-item-container {
    padding: 0;
  }
}

@media (min-width: 691px) and (max-width: 1024px) {
  nav {
    padding: 20px;
  }
  nav .navbar-item-container {
    padding: 0;
  }
  nav .nav-item-link {
    padding: 15px;
    color: black;
    font-size: 1.3em;
  }
}

#hero-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero-container .hero-container-content {
  padding: 10px;
  text-align: center;
}

#hero-container .hero-container-content .name {
  font-size: 4em;
  font-family: "Montserrat", impact;
  font-weight: 900;
  margin: 0;
}

#hero-container .hero-container-content .my-passion {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0;
}

#hero-container .quick-links-container {
  padding: 10px 0px;
  margin: 10px;
}

#hero-container .quick-links-container .social-links {
  font-size: 0.8em;
  font-weight: 400;
  margin: 10px 0px;
}

#hero-container .quick-links-container .social-links:hover {
  color: #61A9BF;
}

#hero-container .know-more-button {
  padding: 10px;
  font-size: 0.8em;
  background-color: #61A9BF;
  border: none;
}

#hero-container .know-more-button:hover {
  background-color: #48A5D8;
}

@media screen and (max-width: 690px) {
  #hero-container .hero-container-content .name {
    font-size: 2em;
    padding: 0;
  }
  #hero-container .hero-container-content .my-passion {
    font-size: 1.3em;
  }
  #hero-container .quick-links-container {
    padding: 20px 0px;
    margin: 10px;
  }
  #hero-container .quick-links-container .social-links {
    font-size: 0.8em;
  }
  #hero-container .know-more-button {
    padding: 15px;
    font-size: 0.8em;
  }
}

@media (min-width: 691px) and (max-width: 1024px) {
  #hero-container .hero-container-content .name {
    font-size: 4em;
  }
  #hero-container .quick-links-container .social-links {
    font-size: 1em;
  }
  #hero-container .know-more-button {
    font-size: 1em;
  }
}

#about-me {
  min-height: 100vh;
  padding: 10px;
  background-color: #61A9BF;
}

#about-me .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-me .content-container .short-story-about-me {
  text-align: center;
  font-size: 25px;
  font-stretch: normal;
  width: 80%;
  padding: 20px;
}

#about-me .content-container .Resume {
  font-weight: 400;
}

#about-me .content-container .Resume > a {
  font-weight: 700;
  font-size: 30;
  text-decoration: underline;
}

#about-me .content-container .Resume > a:hover {
  color: white;
}

#about-me .content-container .skill-container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-me .content-container .skill-container h1 {
  border-radius: 20px;
  font-size: 1.8em;
  font-weight: 700;
  margin: 10px 0;
}

#about-me .content-container .skill-container .skill-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 60%;
}

#about-me .content-container .skill-container .skill-item-container .skill-items {
  margin: 5px;
  padding: 5px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 10px;
}

@media screen and (max-width: 690px) {
  #about-me .content-container .short-story-about-me {
    width: 90%;
  }
  #about-me .content-container .skill-container h1 {
    font-size: 1.5em;
  }
  #about-me .content-container .skill-container .skill-item-container {
    width: 90%;
  }
}

@media (min-width: 691px) and (max-width: 1024px) {
  #about-me .content-container .short-story-about-me {
    width: 90%;
    font-size: 1.8em;
  }
  #about-me .content-container .resume {
    font-size: 1.8em;
  }
  #about-me .content-container .skill-container h1 {
    font-size: 1.8em;
  }
  #about-me .content-container .skill-container .skill-item-container {
    width: 80%;
  }
}

#work {
  min-height: 90vh;
  padding: 10px;
  margin: 0;
  background-color: ghostwhite;
}

#work .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px 0 0 0;
}

#contacts {
  min-height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: ghostwhite;
}

#contacts .social-links {
  padding: 20px;
  margin: 20px 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 20px;
}

#contacts .social-links:hover {
  -webkit-transform: scale(1.10);
          transform: scale(1.23);
}

@media screen and (max-width: 690px) {
  #contacts {
    text-align: center;
  }
  #contacts .social-links {
    padding: 10px;
    margin: 10px 0;
  }
}

@media (min-width: 691px) and (max-width: 1024px) {
  #contacts {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #contacts h4 {
    font-size: 1.5em;
  }
  #contacts .social-links {
    padding: 20px;
    margin: 20px 0;
    font-size: 1.5em;
  }
}
.contact-form {
  padding-top: 20px;
}

footer {
  height: 10vh;
  background-color: #61A9BF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}

footer .links {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer .links > a {
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

img {
  max-width: 80%;
  background-color: #61A9BF;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.heading {
  font-size: 1.8em;
  font-weight: 900;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
/*# sourceMappingURL=styles.css.map */
