.project-modal
{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 10px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    .modal-content {
        background-color: $fourth-color;
        margin:  auto;
        padding: 10px;
        width: 70%;
        border: 2px solid $third-color;
        border-radius: map-get($map: $border-radius, $key: small );
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
            align-items: center;
       
        .project-details
        {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            margin: 0 0 50px 0;
            & .content
            {
                width: 50%;
            }
            & .parts-of-project
            {
                font-size: map-get($map: $font-size, $key: small-3 );
                margin: 0;

            }
            & .tech-stack
            {
                font-size: map-get($map: $font-size, $key: small-2 );
                font-weight: map-get($map: $font-weight, $key: regular );
                margin: 10px 0  ;

            }
        }
    }
    
    .close {
        color: $third-color;
        font-size: map-get($map: $font-size, $key: medium-2 );
        padding: 10px;
        align-self: flex-end;
    }
    
    .close:hover,
    .close:focus {
        color: $primary-color;
        text-decoration: none;
        cursor: pointer;
    }
}
@include smartphone
{
    .project-modal
    {
       
        .modal-content {
         
            width: 85%;
    
            .project-details
            {
               
                margin: 0 0 5px 0;
                & .content
                {
                    width: 90%;
                }
                & .parts-of-project
                {
                    font-size: map-get($map: $font-size, $key: small-3 );
                    margin: 0;
    
                }
                & .tech-stack
                {
                    font-size: map-get($map: $font-size, $key: small-1 );
                    text-align: center;
                }
            }
        }
        
        .close {
            font-size: map-get($map: $font-size, $key: medium-3 );
        }
        
       
    }
}
@include tab
{
    .project-modal
    {
       
        .modal-content {
            width: 80%;
    
            .project-details
            {
               
                margin: 0 0 5px 0;
                & .content
                {
                    width: 90%;
                    font-size: map-get($map: $font-size, $key: medium-1 );

                }
                & .parts-of-project
                {
                    font-size: map-get($map: $font-size, $key: medium-1 );
                    margin: 0;
    
                }
                & .tech-stack
                {
                    font-size: map-get($map: $font-size, $key: small-1 );
                    text-align: center;
                }
            }
        }
        
        .close {
            font-size: map-get($map: $font-size, $key: medium-3 );
        }
        
       
    }
}